// Specific CSS for your home-page
.logo-home-centered {
  height: auto;
  width: auto;
  max-width: 1000px;
  max-height: 700px;
  display: block;
  margin: 0 auto;
}

.token_already_used_cross {
  font-size: 80px;
  color: #CC2C2C;
  margin-bottom: 20px;
}

.conteneur_home {
  margin: 0 auto;
  width: 85%;
  max-width: 980px;
}
