.sign-up-banner h3 {
  font-size: 21px;
  font-weight: 100;
  margin: 5px 0px;
}

.box-signup {
  margin: 20px;
  background-color: rgba(64,92,131,0.2);
  border-radius: 4px;
}

.conteneur-signup {
  padding: 15px 15px 5px 15px;
  font-size: 14px;
}

.conteneur-signup input {
  font-size: 14px;
  border-radius: 50px;
}

.conteneur-signup label {
  padding-left: 5px;
}

.logo-sign-up {
  margin-top: 25px;
  margin-right: 60px;
  margin-left: 60px;
}

.logo-sign-up img {
  width: 100%;
}

.conditions {
  font-size: 10px;
  font-style: italic;
  margin-bottom: 0px;
}

.conteneur-conditions {
  margin: 0px 20px;
}

.logo-created {
  margin-top: 25px;
  margin-right: 60px;
  margin-left: 60px;
  text-align: center;
}

.logo-created i {
  font-size: 100px;
}
