<div class="webview-banner-show-cb center-flex-box">
  <div class="sign-up-banner">
    <h3>Félicitations !</h3>
    <h2>Tu es désormais un Dépargneur</h2>
  </div>
</div>

<div class="logo-created">
  <i class="fas fa-check-circle"></i>
</div>

<div class="box-signup">
  <div class="conteneur-signup">
    <p>Ton compte a été créé avec succès.</p>
  </div>
</div>

<hr>

<div class="logo-sign-up">
  <%= image_tag "logo.png" %>
</div>

<div class="box-signup">
  <div class="conteneur-signup">
    <p>Il ne te reste plus qu'à connecter ton compte en banque avant de pouvoir dépargner.</p>
  </div>
</div>


<div class="position-boutton-valider">
  <a href="https://depargneur.biapi.pro/2.0/auth/webview/connect/select?client_id=64428155&redirect_uri=https:%2F%2Fwww.ledepargneur.fr" class="boutton-valider">Connecter mon Compte bancaire</a>
</div>
