.boutton-valider {
  background-color: #405C83;
  padding: 10px 30px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.boutton-checked {
  background-color: #7EAC08;
  padding: 5px 30px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.boutton-crossed {
  background-color: rgb(100,100,100);
  padding: 5px 30px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.position-boutton-valider {
  text-align: center;
  margin: 25px;
  a:focus {
    color: white;
    text-decoration: none;
  }
}
